.drag p:hover{

    cursor:grab;
}
.wrap{
    word-wrap: break-word;
}
.subrow{

    font-size: 1rem;
    /* font-family: monospace; */

}
.bg-active:hover{
    background-color:black !important;
    border: 4px solid white;

}
.bg-active{
    background-color: black;
}
.box{
    z-index: 1000;
}
.box:hover,.box:focus-within{
    background-color:#1b1919 !important;
}
.rounded-top-right-1{
    border-top-right-radius: 1rem;
}
.rounded-bottom-right-1{
    border-bottom-right-radius: 1rem;
}