.bg-color{
    
    
    background-color:hsla(0, 0%, 20%, 0.356);
    background-image: linear-gradient(#333,rgba(245, 245, 245, 0.292));
}
.bg-header{
    background-color: steelblue;
}
input:focus{

    box-shadow: none !important;
}
.search-input:hover{

    transition: all 0.1s;
  transform: scaleY(1.08)

}