small,.font{
    font-size: 0.6rem;
}
.show{
    display: none;
}
.box:focus-within .show{
    display: flex;
}
.box:focus-visible{

    outline: 2px solid red;
    border: 2px solid red;
}
.trash-box:hover{

    color:red;
}
.tags form div{
    display: none;
}
.tags:focus-within form div{
    display: block;
}
.tag{
    width:188px;
    background-color: gray;
}
.tag:hover{

    background-color: black;
}