small,.font{
    font-size: 0.6rem;
}
.show{
    display: none;
}
.box:focus-within .show{
    display: flex;
}
.box:focus-visible{

    outline: 2px solid red;
    border: 2px solid red;
}
.trash-box:hover{

    color:red;
}

.tag{
    width:188px;
    /* background-color: rgba(128, 128, 128, 0.668); */
}
.tag:hover{

    background-color: rgba(0, 0, 0, 0.444);
}
.suggestions{
    width: 188px;
    max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.tagtext{

    font-size: 0.8rem;
    font-weight:600;
    letter-spacing: 0.1rem;
    padding: 0.1rem;
    padding-right: 0.4rem;
}
.edit-icon-hover:hover{
    color: goldenrod;
}